@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
#root {
    height: 100vh;
  }
  
* {
    box-sizing: border-box;
  }
 
h5{
  margin-bottom: 10px;
  color: #212124;
  text-align: left;
}  

.credits{
  color: rgb(231, 226, 226);
  position: relative;
  top: 2.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 0.9rem;
}


.joinOuterContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color: #2D2C3C;
  }
  
.joinInnerContainer {
    width: 60vh;
    min-height: 70vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgb(42, 40, 58) 0px 0px 24px;
    overflow: hidden;
  }

.upperContainer{
  display: flex;
  min-height: 20vh;
  background: rgb(255,123,123);
  background: linear-gradient(38deg, rgba(255,123,123,1) 40%, rgba(255,105,105,1) 65%);
  justify-content: center;
  align-items: center;
}

.inputContainer{
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 0;
}


.joinInput {
    outline: none;
    border-style: none;
    padding-bottom: 5px;
    width: 70%;
    margin-top: 2.8rem;
    margin-bottom: 0.5rem;
    border-bottom: #B4B4C7 1.4px solid;
    font-size: 1.2rem;
  }

.heading {
    color: white;
    font-size:1.4rem;
    margin: 0;
  }
  
.button {
      color: #EBF3FB !important;
      text-transform: uppercase;
      text-decoration: none;
      background: rgb(255,123,123);
      background: linear-gradient(38deg, rgba(255,123,123,1) 40%, rgba(255,105,105,1) 65%);
      padding: 16px;
      border-radius: 40px;
      display: inline-block;
      border: none;
      width: 25vh;
  }
.button:hover{
  background: #d67a7a;
}
  
.mt-2 {
    margin-top: 2rem;
  }
  
@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
    .mt-2 {
      margin-top: 1.1rem;
    }
  
  }
  
  button:focus {
    outline: 0;
  }